

/*==========*
 * Standard *
 *==========*/

/* General */
body {
    font-family: "Crete Round", serif;
}

section {
    padding-top: 150px;
    height: 100%;
    background: #fff;   
    text-align: center;
}

section:nth-child(odd) {
    background: #eee;
}



/*=======================*
 * Media Queries <768px) *
 *=======================*/

@media screen and (max-device-width: 480px) and (max-width: 480px) {
    
}