/*==========*
 * Standard *
 *==========*/

/* General */
body {
    font-family: "Crete Round", serif;
}

section {
    padding-top: 150px;
    height: 100%;
    background: #fff;   
    text-align: center;
}

section:nth-child(odd) {
    background: #eee;
}

/* Dropdown Menu */
#dropdownMenu {
    display: none;
}


/*=======================*
 * Media Queries <480px) *
 *=======================*/

@media screen and (max-device-width: 480px), (max-width: 480px) {
    /* Normal Menu */
    #normalMenu {
        display: none;
    }
    
    /* Dropdown Menu */
    #dropdownMenu {
		display: block;
		float: right;
	}
	
    #dropdownMenu button {
		padding: 10px 22px 5px 22px;
		border-width: 0px;
		background: #341315;
		font-size: 25px;
	}

	#dropdownMenu ul {
		padding: 0;
		background-color: #3D001F;
	}
	
	#dropdownMenu button:hover {
		background: #AD4047;
	}
	
	#dropdownMenu button>span {
		color: white;
	}
	
	#dropdownMenu li {
		background-color: #341315;
		font-size: 20px;
	}
	
	#dropdownMenu a {
		padding-top: 7px;
		padding-bottom: 7px;
		color: white;
		font-size: 16px;
		font-family: "Arial";
	}
	
	#dropdownMenu a:hover {
		background-color: #AD4047;
	}
}